/* ==========================================JUAN============================================================= */

/* ==========================================CASTRILLON======================================================= */



/* ========================= VARIABLES ========================= */

yellow     = #FCB932
orange     = #CC8E29
grey       = #63637C
darkblue-1 = #11111E
darkblue-2 = #27273D

/* ========================= BACKGROUNS ========================= */

body
	background-color #27273D



/* ========================= Contenido Tarjetas Kevin ========================= */

.background
	height 100vh



.background1
	background-image url("../img/city-1.jpg")


.background2
	background-image url("../img/city-2.jpg")


.background3
	background-image url("../img/city-3.jpg")


.background4
	background-image url("../img/city-4.jpg")


.background5
	background-image url("../img/city-5.jpg")


.tarjeta-container
	width 100%
	height 100vh
	position absolute
	z-index 999
	display flex
	justify-content center


.contenido
	height 100%
	border-radius 1%
	background-color #11111E


.tarjeta
	z-index 9999


.tarjeta:before
	content ""
	width 200%
	height 500px
	position fixed
	background #27273D
	opacity 0.5
	transform rotate(-30deg) scale(0.835) skew(50deg) translate(35px)


.artist
	position relative

.redes
	position absolute
	bottom 30px
	left 50px
	i
		line-height 40px
		height 40px
		width 40px
		background-color #11111E
	a
		color #FCB932

.titulo
	font-family Montserrat
	font-size 50px
	color #FCB932

.nombre
	font-family Lato
	font-size 20px
	color #CC8E29

.descripcion
	font-family Esteban
	font-size 16px
	color #ffff
	line-height 1.5


.icono
	display inline-block
	margin-left 26px
	margin-top 1em
	text-align center

.singer
	margin-left 0

p
	font-family Esteban
	font-size 12px
	color #ffff
	margin-top 5px

.song
	margin-left 0
	background-color #C12B41
	height 70px
	width 70px

.col-md-5
	padding-left 0
	margin-left 25px
	background-color #09090F
	box-shadow 10px 32px 57px -21px rgba(0,0,0,1)


.title1
	font-family Lato
	font-size 16px
	span
		font-size 14px
		color #999999

.d-flex
	a
		display inline-flex
		text-decoration none

.carousel-indicators
	position absolute
	text-align -webkit-right
	bottom 140px
	margin-bottom 80px
	li
		height 8px
		width 8px
		margin 13px 20px
		border-radius 50%



.carousel-indicators .active
	transform scale(1.4, 1.4)



.animated
	animation-duration 1.5s

.delay-1
	animation-delay 0.6s

.delay-2
	animation-delay 0.7s

.delay-3
	animation-delay 0.8s


@media (min-width: 992px)
	.artist
		img
			height 100%
			width: 100%;

	.songs
		margin-bottom 3em



@media (max-width: 991px)

	.tarjeta:before
		display none

	.tarjeta-container
		display initial

	.contenido
		border-radius 0

	.row.mx-0
		justify-content center
		margin-top 1em

	.artist
		height 450px
		background-size cover
		box-shadow 10px 32px 57px -21px rgba(0,0,0,1)
		img
			display none

	.cent
		background-image url("../img/50-cent.jpg")

	.wiz
		background-image url("../img/wiz-khalifa.jpg")

	.ty
		background-image url("../img/ty-dolla-sign.jpg")

	.drake
		background-image url("../img/drake.jpg")

	.school
		background-image url("../img/school-boy-q.jpg")

	.songs
		margin-top 10px !important
		margin-bottom 1em

	.redes2
		a
			color #ffff

	.carousel-indicators
		position fixed
		bottom 0
		background-color rgba(0,0,0,1)
		margin-bottom 0
		height 7%
		align-items center
		li
			height 30px
			border-radius 50%
			transform scale(.5)

	.carousel-indicators .active
		transform scale(.7, .7)






@media (max-width: 576px)
	html
		overflow auto !important

	body
		overflow auto !important

	.fp-enabled
		overflow auto !important

	.row.mx-0
		margin-top 0

	.artist
		height 350px

	.carousel-indicators
		li
			margin 13px 10px



@media (max-width: 320px)
	.investor
		margin-left 0

	.artist
		height 300px


	.carousel-indicators .active
		transform scale(.6, .6)


/* ========================= Contenido Tarjetas Kevin ========================= */
